<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <!-- <img src="assets/map_labelled.png" style="width:600px;height:300px;"> -->
        <h1 id='game_over'> Game Over.</h1>
        <h2 id="thank_you">Thanks for playing, good effort.</h2>
        

    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>
        
        
    </body>

</html>

