<html>
   <head>
      <title>Trying</title>
       <h1>zmq ID: {{ id }}</h1>
   </head>
   <body>
      <button type="button" id="button1">Start Subscriber!</button>
      <hr>
      <textarea style="width:500px;height: 400px" id="output"></textarea>

      <script>
         // producer.js
        var zmq = require("zeromq"),
          sock = zmq.socket("push");

        sock.bindSync("tcp://0.0.0.0:7800/push_info");
        console.log("Producer bound to port 7800");

        setInterval(function() {
          console.log("sending work");
          sock.send("some work");
        }, 500);
      </script>

   </body>
</html>

